.why-haptic {
    background-color: #ffc400; /* match yellow */
    padding: 40px 30px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }
  .bullet-text {
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: sans-serif;
  }
  .bullet {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .text {
    font-weight: bold;
    color: black;
  }
  
  .why-haptic p {
    font-size: 3.3rem;
    max-width: 600px;
    color: #000;
    font-weight: 350;
    align-items: start;
  }
  
  .pattern-section {
    position: relative;
    height: 400px;
    background-color: black;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='150' height='200' viewBox='0 0 150 200'%3E%3Cpath d='M0,0 A100,100 0 0,1 100,100 A100,100 0 0,1 0,200 Z' fill='lightgray'/%3E%3Cpath d='M150,0 A100,100 0 0,0 50,100 A100,100 0 0,0 150,200 Z' fill='lightgray'/%3E%3C/svg%3E");
    background-repeat: repeat-x;
    background-size: 350px 400px;
    width: 100%;
    animation: scrollPattern 6s linear infinite;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @keyframes scrollPattern {
    0% { background-position-x: 0; }
    100% { background-position-x: 150px; }
  }
  